*
{
	box-sizing: border-box;
}
body
{
	background-color:hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
}
.orange
{
	background-color:hsl(31, 77%, 52%) ;
}
.blue
{
	background-color:hsl(184, 100%, 22%) ;
}
.dark
{
	background-color:hsl(179, 100%, 13%) ;
}
.orange-a
{
	color:hsl(31, 77%, 52%) ;
}
.blue-a
{
	color:hsl(184, 100%, 22%) ;
}
.dark-a
{
	color:hsl(179, 100%, 13%) ;
}
.clearfix
{
	clear: both;
}
.attribution
{
	display: block;
	font-size: 22px !important;
	line-height:3.3 !important;
    text-align: center;
}
.attribution a
{

    color: white;
	text-decoration: none;
}

.cards
{
	width:80%;
	margin:100px auto;
	border-radius: 15px;
	overflow: hidden;
}
.cards .card
{

	width:33.3333%;
	float:left;
	padding: 63px;
}
.card p
{
	width: 90%;
	line-height: 1.6;
	color:hsla(0, 0%, 100%, 0.75);

}
.card h1
{
	text-transform: uppercase;
	color:hsl(0, 0%, 95%);
}
.card a
{
	display: block;
	margin-top:50px;
	width:140px;
	padding:15px;
	text-decoration: none;
	background-color: white;
	border:4px solid white;
	border-radius: 30px;
	margin-bottom: 20px;
	transition: background-color 0.5s ease;

}
.card a:hover
{
	background-color: transparent;
	color:white;
}

@media (min-width:768px)  and (max-width:1199px) 
{
	.cards 
	{
		width:98%;
	}
	.cards  .card
	{
		min-height: 400px;
		padding:20px;
	}

}

@media (max-width: 768px)
{
	.cards 
	{
		width:75%;
		margin:100px auto;

	}
	.cards .card
	{

		width:100%;
		padding:40px;
	}
}